.button-rounded {
  border-radius: $button-corner-radius;
}

.button-rounded-left {
  border-bottom-left-radius: $button-corner-radius;
  border-top-left-radius: $button-corner-radius;
}

.button-rounded-right {
  border-bottom-right-radius: $button-corner-radius;
  border-top-right-radius: $button-corner-radius;
}

.filter-button-group {
  @include flexbox-display-flex;
  justify-content: center;
  margin-top: 1rem;
}