.grid {
  display: inline-block;
  width: 280px;
}

.grid-container {
  justify-content: space-between;
  width: 100%;
}

.post-container {
  margin-top: 1em;
}

.site-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}