.grid {
  display: inline-block;
  position: relative;
  margin: 2px;
  width: 280px;

  &__info {
    color: white;
    display: none;
    left: 50%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    h3 {
      line-height: 1em;
      margin: 0;
    }
    &--date {
      font-style: italic;
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.grid-container {
  justify-content: center;
  width: 100%;
}

.post-container {
  margin-top: 1em;
}

.site-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}