.menu {
  background-color: white;
  box-shadow: $box-shadow;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &__block {
    height: 150px;
  }

  &__link {
    color: black;
    &:hover {
      color: $link-colour;
      @include transition-property('color');
      @include transition-duration($transition-duration);
      @include transition-timing-function('linear');
    }
  }

  &__logo {
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
  }
}