.background-texture {
  background-image: url("../assets/images/menu-background-day.jpg");
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.day-night {
  display: flex;
  justify-content: center;
}

.menu {
  background-color: white;
  box-shadow: $box-shadow;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &__block {
    height: 200px;
  }

  &__jobtitle {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__link {
    color: black;
    &:hover {
      color: $link-colour;
      @include transition-property('color');
      @include transition-duration($transition-duration);
      @include transition-timing-function('linear');
    }
  }

  &__logo {
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
  }
}