<div class="menu">
    <div class="row align-center text-center">
        <div class="column small-12">
            <a href="" title="Home">
                <img class="menu__logo" src="app/assets/logos/menu-header.png" alt="Header Logo" title="Me!">
            </a>
        </div>
        <br>
        <div class="column small-3">
            <a class="menu__link" href="https://uk.linkedin.com/in/edem-alloh-40644366" target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </div>
        <div class="column small-3">
            <a class="menu__link" href="mailto:info@edemalloh.com" title="Email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
        <div class="column small-3">
            <a class="menu__link" href="#" title="Resume">
                <i class="fa fa-file-text" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>