////////////////////////////////////////////////////////
// Mixins (useful blocks of reusable code)            //
////////////////////////////////////////////////////////

/* Outputs all the needed blur rules. */
@mixin blur($radius) {
  -webkit-filter: blur($radius); /* Chrome, Safari */
  -ms-filter: blur($radius); /* IE12? */
  filter: blur($radius); /* Firefox */
}

/* Outputs all the needed flexbox rules. */
@mixin flexbox-display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* Returns back font size in rem units */
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* Outputs all the needed grayscale rules. */
@mixin grayscale($value) {
  -webkit-filter: grayscale($value);
  -moz-filter: grayscale($value);
  filter: grayscale($value);
}

@mixin transition-duration($duration) {
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-property($property) {
  -moz-transition-property: $property;
  -o-transition-property: $property;
  -webkit-transition-property: $property;
  transition-property: $property;
}

@mixin transition-timing-function($timing-function) {
  -moz-transition-timing-function: $timing-function;
  -o-transition-timing-function: $timing-function;
  -webkit-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
}